h1, h2, h3, h4, h5 {
    text-align: center;
}

.logoSimbol {
    position:relative;
    background-size: contain;
    height: 36px;
    width: 119px;
    display: block;
    
}

.result-box {
    margin-top: 50px;
    background-color: #CBDBE5;
	padding: 20px 30px 30px 30px;
    text-justify: newspaper;
    border-radius: 30px;
   
}
